```json
[
    {
        "id": 1,
        "key": "ISS-1",
        "name": "Example issue",
        "project": {
            "id": 1,
            "name": "My project"
        },
        "reporter": {
            "id": 1,
            "displayName": "User 1",
            "email": "user1@example.com",
            "avatar": "https://avatar-cdn.atlassian.com/1093dd9ecf87274ff9723ff18819eae4?s=48&d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2F1093dd9ecf87274ff9723ff18819eae4%3Fd%3Dmm%26s%3D48%26noRedirect%3Dtrue",
            "role": {
                "id": 1,
                "name": "Developer"
            }
        },
        "assignee": {
            "id": 1,
            "displayName": "User 1",
            "email": "user1@example.com",
            "avatar": "https://avatar-cdn.atlassian.com/1093dd9ecf87274ff9723ff18819eae4?s=48&d=https%3A%2F%2Fsecure.gravatar.com%2Favatar%2F1093dd9ecf87274ff9723ff18819eae4%3Fd%3Dmm%26s%3D48%26noRedirect%3Dtrue",
            "role": {
                "id": 1,
                "name": "Developer"
            }
        },
        "type": {
            "id": 1,
            "name": "Task",
            "iconUrl": "https://concertwithme.atlassian.net/secure/viewavatar?size=xsmall&avatarId=10318&avatarType=issuetype"
        },
        "status": {
            "id": 5,
            "name": "Test"
        },
        "description": "<p>Issue description</p>",
        "create_date": "2019-04-24T13:40:23+0000",
        "update_date": "2019-05-06T10:14:02+0000"
    }
]
```