```json
[
    {
        "issue": {
             "id": 1,
             "key": "ISS-1",
             "name": "Example issue",
             "project": 1,
             "reporter_id": 1,
             "assignee_id": 1,
             "type": {
                 "id": 1,
                 "name": "Task",
                 "iconUrl": "https://concertwithme.atlassian.net/secure/viewavatar?size=xsmall&avatarId=10318&avatarType=issuetype"
             },
             "status": {
                 "id": 5,
                 "name": "Test"
             },
             "description": "<p>Issue description</p>",
             "create_date": "2019-04-24T13:40:23+0000",
             "update_date": "2019-05-06T10:14:02+0000"
        },
        "votes": [
            {
                "rating_id": 1,
                "value": 2.4
            },
            {
                "rating_id": null,
                "value": 2.4
            }
        ]
    }
]
```